/* san pham */
.sanpham{
    margin: 5px;
    /* padding: 5px; */
    height: 320px;
    width: 24%;
    float: left;
    text-align: center;
    box-shadow:  0 0 5px rgb(33, 3, 114);
    background-color: pink;
}
.sanpham>div>img{
    margin-top: 5px;
    height: 150px;
    width: 200px;
}
.sanpham>input{
    width: 60px;
}
.sanpham>button{
    margin-top: 10px;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    background-color: aqua;
}